
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>{% block titulo %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

</head>

<body>
  <div class="container">
    <h1>El tiempo en {{ location|title }}</h1>
    <p>Temperatura {{ temperature }}</p>
    <p>Clima:  {{ condicition }}</p>
    <p>Fecha:  {{ date }}</p>
    <!--<p>APIKEY :  {{ api_key }}</p>
     {% block usuarios %}{% endblock %} 
     {% block contrasenas %}{% endblock %} -->
  </div>
    
</body>
</html>